<button class="resume-button" class="button-style" fxLayout="column" fxLayoutAlign="space-around stretch"
    (click)="navigationLien(recette.id)">
    <div fxLayout="column" class="contenu-button" styfxLayoutAlign="space-around stretch">

        <div fxFlex="60" fxLayoutAlign="space-around stretch">
            <div class="contenu-img">
                <img src="https://picsum.photos/1200/{{1200 + recette.id}}" alt="" class="image">
            </div>

        </div>

        <div fxFlex="40" fxLayout="column" fxLayoutAlign="space-around stretch">
            <div fxFlex="50" fxLayout="column" fxLayoutAlign="center stretch">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h4 class="titre-resume-recette">{{recette.titre}}</h4>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div class="resume-text">{{recette.resume}}</div>
                </div>

            </div>
            <div fxFlex="50" fxLayout="row" fxLayoutAlign="start center" class="resume-detail">
                <div fxFlex="20" fxLayout="row" fxLayoutAlign="start center">{{recette.duree}} minutes</div>
                <div fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
                    <ng-container *ngFor="let tag of tagsCorrespondant$ | async">
                        <app-tag [tag]="tag"></app-tag>
                    </ng-container>
                </div>
            </div>

        </div>
    </div>

</button>