<!--<div fxFill fxLayout="row" fxLayoutAlign="start center">
    <div style="width: 50%;" fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button (click)="toggleDrawerEmit()">
            <mat-icon>
                menu
            </mat-icon>
        </button>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div>My Food</div>
        </div>
    </div>


    .navigation-bar {
    background-color: rgb(146, 218, 146);
    height: 50px;
    }
    
    .search-button {
    border: none;
    background-color: rgba(250, 235, 215, 0);
    
    mat-icon {
    font-size: 24px;
    }
    }

</div>-->

    <button mat-icon-button class="icon" (click)="toggleDrawerEmit()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My food</span>
    <span class="spacer"></span>
    <button mat-icon-button class="icon favorite-icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="icon">
        <mat-icon>share</mat-icon>
    </button>