<mat-drawer-container class="container" >
  <mat-drawer [mode]="'over'" [disableClose]="false" [opened]="false">
    <app-sidebar (toggle)="toggleDrawer()"></app-sidebar>
  </mat-drawer>
  <mat-drawer-content (scroll)="onScroll()"  >
    <mat-toolbar  class="fixed-toolbar {{toolBarClass}}">
      <app-navbar class="navbar" (toggle)="toggleDrawer()"></app-navbar>
    </mat-toolbar>
    <div class="contenu {{contenuClass}}" >
        <router-outlet ></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>