<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="'over'" [disableClose]="false" [opened]="false">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content class=" transition {{topContainer}}">
    <div class="abs">
      <mat-toolbar class="toolbar {{toolBarClass}}">
        <app-navbar class="mat-toolbar mat-toolbar-single-row" (toggle)="toggleDrawer()"></app-navbar>
      </mat-toolbar>
    </div>
    <div class=" transition {{topContainer}}">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-content>
</mat-drawer-container>