    @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

    html {
        // height: 100%;
        /* <------------ */
    }

    body {
        // height: 100vh;
        /* définit la hauteur du corps de la page à 100% de la hauteur de l'écran */
        margin: 0;
        /* enlève les marges par défaut pour assurer que la page remplit l'écran */
        display: flex;
        justify-content: center;
    }

    .container {
        max-width: 1200px;
        width: 100%;
    }